<app-navigation></app-navigation>
<div class="container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }} </mat-card-title>
      <!-- heart icon toggle to add or remove movie from user's favorites -->
      <button
        mat-button
        *ngIf="!isFav(movie._id)"
        (click)="addFavorite(movie._id)"
        color="primary"
      >
        <!-- heart icon border-->
        <mat-icon>favorite_border</mat-icon>
      </button>
      <button
        mat-button
        *ngIf="isFav(movie._id)"
        (click)="removeFavorite(movie._id)"
        color="primary"
      >
        <!-- heart icon full-->
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-header>
    <!-- director link -->
    <mat-card-subtitle
      >Directed by:
      <button
        mat-button
        (click)="
          openDirector(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birth,
            movie.Director.Death
          )
        "
        color="primary"
      >
        {{ movie.Director.Name }}
      </button>
    </mat-card-subtitle>

    <!-- image -->
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <!-- genre link -->
      <mat-card-subtitle
        >Genre:<button
          mat-button
          (click)="openGenre(movie.Genre.Name, movie.Genre.Description)"
          color="primary"
        >
          {{ movie.Genre.Name }}
        </button>
      </mat-card-subtitle>
      <!--actor link -->
      <mat-card-subtitle *ngIf="movie.Actors[0].Name"
        >Main Actor:<button
          mat-button
          (click)="
            openActor(
              movie.Actors[0].Name,
              movie.Actors[0].Bio,
              movie.Actors[0].Birth,
              movie.Actors[0].Death,
              movie.Actors[0].Movies
            )
          "
          color="primary"
        >
          {{ movie.Actors[0].Name }}
        </button></mat-card-subtitle
      >

      <!--summary link -->
      <mat-card-subtitle
        ><button
          mat-button
          (click)="openSummary(movie.Title, movie.Description)"
          color="primary"
        >
          Synopsis
        </button></mat-card-subtitle
      >
    </mat-card-actions>
  </mat-card>
</div>
