<div class="container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>Directed by:</mat-card-subtitle>
      <button
        mat-button
        (click)="
          openDirectorDialog(
            movie.Director.Name,
            movie.Director.Bio,
            movie.Director.Birthday
          )
        "
        color="primary"
      >
        {{ movie.Director.Name }}
      </button>
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions>
      <mat-card-subtitle>Genre:</mat-card-subtitle>
      <button mat-button color="primary">{{ movie.Genre.Name }}</button>
      <mat-card-subtitle>Main Actor:</mat-card-subtitle>
      <button mat-button color="primary">{{ movie.Actors[0].Name }}</button>
      <button mat-button color="primary">Synopsis</button>
      <!-- heart icon toggle to add or remove movie from user's favorites -->
      <button mat-button *ngIf="!isFav(movie._id)" (click)="addFavorite(movie._id)" color="primary">
        <mat-icon>favorite_border</mat-icon>
    </button>
    <button mat-button *ngIf="isFav(movie._id)" (click)="removeFavorite(movie._id)" color="primary">
        <mat-icon>favorite</mat-icon>
    </button>
    </mat-card-actions>
  </mat-card>
</div>
