<mat-card>
    <mat-card-title>{{
      data.Name
    }}</mat-card-title>
    <br />
    <mat-dialog-content>
      <br />
      <b>Bio: </b>{{ data.Bio }}
      <br />
      <b>Born: </b>{{ data.Birth }}
      <br/>
      <b>Death: </b>{{ data.Death }}
      <br />
      <b>Movies: </b>
      <br />
    </mat-dialog-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        aria-label="Close the actor details button"
        mat-dialog-close
        color="primary"
      >
      <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  