<app-navigation></app-navigation>
<div class="user-profile-container">
  <!-- User Profile -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Hi, {{ user.username }}</mat-card-title>
      <mat-card-subtitle>Your profile information</mat-card-subtitle>
    </mat-card-header>
    <!-- View Profile Information -->
    <mat-card-content>
      <p><b>Username:</b>{{ user.username }}</p>
      <p><b>Email:</b>{{ user.email }}</p>
      <p><b>Birthday:</b>{{ user.birthdate }}</p>
    </mat-card-content>
    <!-- Edit and delete profile-->
    <mat-card-actions>
      <button mat-raised-button (click)="openDialog()" color="primary">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <button mat-raised-button (click)="deleteProfile()" color="warn">
        <mat-icon>delete_forever</mat-icon>
        Delete Profile
      </button>
    </mat-card-actions>
  </mat-card>
</div>
