<mat-card>
    <mat-card-header>
      <mat-card-title
        >You can update your profile information below</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form>
        <!-- edit username -->
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.username"
            placeholder="Username"
            type="text"
            name="username"
          />
        </mat-form-field>
        <!-- edit password -->
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.password"
            placeholder="Password"
            type="password"
            name="password"
          />
        </mat-form-field>
        <!-- edit email -->
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.email"
            placeholder="Email address"
            type="email"
            name="email"
          />
        </mat-form-field>
        <!-- edit birthday -->
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userData.birthday"
            placeholder="Birthday"
            type="date"
            name="birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button (click)="editUser()" color="primary">
        Update now
      </button>
      <button mat-stroked-button mat-dialog-close color="secondary">Close window</button>
    </mat-card-actions>
  </mat-card>